@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            line-height: 1.42em;
            color: #A7A1AE;
            background-color: #1F2739;
        }

        h1 {
            font-size: 3em;
            font-weight: 300;
            line-height: 1em;
            text-align: center;
            color: #4DC3FA;
        }

        h2 {
            font-size: 3em;
            font-weight: 300;
            text-align: center;
            display: block;
            line-height: 1em;
            padding-bottom: 2em;
            color: #FB667A;
        }

            h2 a {
                font-weight: 700;
                text-transform: uppercase;
                color: #FB667A;
                text-decoration: none;
            }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #1F2739;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover:not(.active) {
                    background-color: #111;
                }

        .active {
            background-color: #FFF842;
        }
    </style>
</head>

<body>


    <ul>
        <li><a href="/Ogrenci/Index">Ögrenciler</a></li>
        <li><a href="/Ogrenci/Ekle">Öğrenci Ekle</a></li>
        <li><a href="/Ogretmen/Index">Öğretmenler</a></li>
        <li><a href="/Ogretmen/Ekle">Öğretmen Ekle</a></li>
    </ul>




    <div class="container">
        @RenderBody()
    </div>


    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>